.yello-bg {
    background: :'yello';
}

.alert-box {
    background: #b6b6f0;
    color : #cc67d0;
    padding: 20px;
    border-radius: 5px;
    display: none;
}

.alert-box p{
    display: inline;
}