// 그냥 css 파일이랑 똑같음
// 근데 문제는 웹브라우저가 못읽음 그래서 scss를 css로 변환해줘야함
// 쩌기 밑이 Watch Scss를 누르면 자동으로 컴파일됨
// .map은 크롬 개발자도구 디버깅용임
// .map파일이 있으면은 크롬에서 css가 아니라 scss 파일을 분석해줌

/*
SCSS의 용도
1.어려운 단어 기억해야 할 때는 변수문법을 사용함
2. 규칙적인 스타일을 만들 때도 변수가 도움이 됨 (관리 개편함)
----사실 css에도 이런거 있음(사진 참고)----
*/

// $ : 변수 만드는 문법
// 변수 : 데이터를 잠깐 보관하는 통
$메인칼라: #2a4cb2;
$서브칼라: #eeeeee;
$기본사이즈: 16px; // 근데 퍼센트로는 잘 안되니까 그냥 px 만 사용하셈
.background {
    // background-color: #2a4cb2;
    background-color: $메인칼라;
    font-size: $기본사이즈 - 2px;
}

.box {
    width: 100px;
    color: $서브칼라;
    font-size: $기본사이즈 + 2px;
}