.profile { 
    width : 100px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}


.title{
    text-align : center;
    font-size: 16px;
}

.content{
    text-align : center;
}
.box {
    width : 300px;
    background-color:cadetblue;
    margin: 10px;
    padding: 40px;
    border-radius: 5px;
    margin-left: auto; 
    margin-right: auto;
    font-size: 15px;
    color: aliceblue;
    box-shadow: 5px 5px black;

}



/*ch06*/
/* 레이아웃 전체를 감싸는 애임 안만들어도 되는데 만드는게 좋음*/
.container {
    width:800px;
}

.header {
    /* 부모 태그의 100% (800px)*/
    width : 100%;
    height: 100px;
    background: aquamarine;
}

.left-menu {
    /* 160px겠네*/
    width:20%;
    height:400px;
    background: cornflowerblue;
    /* 이 요소를 붕 띄워서 왼쪽으로 붙여주세여 */
    float : left;
}

.right {
    width : 80%;
    height : 400px;
    background: coral;
    float: left;
}

.footer {
    /*  위에 있는 애들에게 float를 줘서 붕 떠버렸기 때문에 겹쳐서 붙어있게됨  */
    width: 100%;
    height : 100px;
    background: grey;
    /*  float 다음에 오는 요소에게 주면 float 로 발생하는 이상현상 해결 가능  */
    clear: both;
}
