td, th {
/*    border: 1px solid black;*/
}

/*cart-table 안에 있는 모든 td들!!*/
.cart-table td, .cart-table th{
    padding: 15px;
    /* border 는 테두리이다. 
        border-top, bottom, left이런거 있음 원하는 곳에만 테두리 설정 가능함 */
    border-bottom: 1px solid #c2d3de;
/*    text-align: center;*/
}

table {
    /*<table>은 기본적으로 틈이 존재함. 그래서 없애주는게 좋음. 이거먼저 적으셈*/
    border-collapse: collapse;
}





/*ch16*/
.cart-background {
    width: 100%;
    background-color: #c2d3de;
    padding: 30px;
}

.cart-table {
    width: 100%;
    max-width: 700px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
}

/*2. nth-child() 문법 이용
        괄호 안에 있는 숫자는 컬럼 순서임 ㅇㅋ??*/
.cart-table th:nth-child(2){
    width: 300px;
}


.cell-long {
    /* 여기 있는 width는, 최대한 이만큼은 차지해보셈 이런뜻임 */
    width: 300px;
}


/*ch17*/
.btn {
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: coral;
    color: white;
    /* 누름직한 버튼을 만들고싶음
        pointer말고도 다른거두있음*/
    cursor: pointer;
}

/* pseudo-class*/
/*마우스 올릴 때 버튼 스타일 바꾸기*/
.btn:hover {
    background-color: chocolate;
}
/*한번 눌렸을 때 (커서 찍혔을 때) 바뀐 스타일*/
.btn:focus{
    background-color: grey;
}
/*마우스 누르고 있을 때 버튼 스타일 바꾸기*/
.btn:active{
    background-color: brown;
    border: 2px solid grey;
}
/*hover->focus->active 순으로 넣어줘야 잘 작동함 (호빠라고 외우셈)*/

.input-test {
    font-size: 20px;
}
/*스도 클래스*/
.input-test:focus{
    border: 2px soild red;
}

.custom-link {
    text-decoration: none;
}
/*방문전 링크 색 다르게 하기*/
.custom-link:link{
    color: skyblue;
}
/*방문후 링크 색 다르게 하기*/
.custom-link:visited{
    color: grey;
}


