
.container {
    width: 1000px;
}

.leftbox {
    width: 70%;
    height: 300px;
    background: blue;
    display: inline-block;
}

.rightbox {
    width: 30%;
    height: 300px;
    background: red;
    display: inline-block;
}
