
.main-background {
    width: 100%;
    height: 500px;
    /* background-image는 배경에 이미지를 넣을 수 있는거임 */
    /* background-image: url(../는 상위폴더로 이동하라는 뜻_이미지 경로);*/
        /* 배경 여러개 겹치기도 가능 */
/*        background-image: url(/image/ch02_짱구.jpg), url();*/
    background-image: url(/image/shoes.jpg);
    /* 배경이미지 사이즈 조절 가능 */
    background-size: 100%;
    /* 배경이미지는 위에 설정한 div박스랑 딱 안맞으면 바독판됨 
        그거 막으려면 아래 명령어 써주셈 */
    background-repeat: no-repeat;
    /* 근데 이제 div박스랑 크기가 안맞으니까 밑에 공간이 있음 
        그냥 사이즈 조절해도 되기는 한데, cover, contain 사용해도 됨*/
    
        /* contain : 그림 안짤리게 해주셈 div남아도 괜춘*/
    background-size: contain;
    
    /* cover : 그림이 짤려도 상관 없으니까 꽉 채워주셈 
        cover를 더 많이 사용함*/
    background-size: cover;
    
    /* 배경위치 조정가능 */
    background-position: center;
    
    /* 스크롤 시 배경 위치 조정 가능함_
        fixed : 고정됨 딴거도 있으니까 적용해보셈*/
/*    background-attachment: fixed;*/
    
    /* 박스에 보정 입히기_ 윈도우 11이상부터 됨
        자동완성 되니까 한번 해보셈 근데 버튼이나 글자에 다 적용되니까 알아서 잘 쓰셈
        - 밝기조정 하는 이유 : 거기 위에다가 글씨 써야하니까*/
/*    filter: sepia(40%);*/
    
    /* 예전버전 보정 입히기 */
    
    /* margin collapse 방지 : 부모박스에 padding 해주셈_테두리 안붙게 해줌(안쪽 여백)*/
    padding: 1px;
    
    position: relative;
}

.main-title {
    color: white;
    font-size: 40px;
    /* 글자에 여백을 주고 싶은데, 이상하게 배경 사진까지 여백 지정이 됨
        이를 margin collapse 현상 이라고 함*/
    margin-top: 100px;
    /* div박스랑 h4 둘 다 박스임. 근데 그걸 겹쳐서 올려놓은거임
        그래서 margin 이 둘 다 적용되게 된다.*/
    text-align: center;
}

.para-letter {
    color: aliceblue;
    font-size: 20px;
    font-family:sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    text-align: center;
}

.main-button {
    padding: 15px;
    font-size: 20px;

    background: white;
    
    /* 테두리 없앨 수 있음 */
    border: none;
    border-radius: 5px;
    /* 버튼 위치 미세 조정하기 
        position:relative가 있어야 한다. : 내 원래 위치를 기준으로 이동하새요!
            마이너스 이동도 가능
            float 처럼 공중에 뜨는 특징임*/
    /* relative : 자기 자신 기준으로 움직임
        static: 이동 불가 고정임
        fixed: 현재 화면 기준으로 움직임 스크롤해도 안움직이는 버튼 만들기 ㄱㄴ
        absolute: 내 부모를 기준인데, 부모는 position: relative; 를 가지고 있어야함*/
    position: absolute;
    /* top: 위에서부터 100px 
        left: 왼쪽부터 100px..*/
    /* 가운데 정렬 공식(absolute부터) */
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
}
